@import url('./styles/App.css');
@import url('./styles/login.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#loader{
  width: 100px;
  margin: 20% auto;
  text-align: center;
  font-family: "Dela Gothic One", sans-serif;
}
#loading{
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  animation: round 1s .2s infinite;
}
@keyframes round {
  0%{

    transform: rotate(0deg);
    background-color: brown;
  }
  100%{
    transform: rotate(360deg);
    background-color: rgb(72, 172, 52);
  }
}

